/* Reto de código-Lyft */

/* Código Web */
*{
	margin: 0;
	
	box-sizing: border-box;
}
nav , body{
font-family: 'Montserrat', sans-serif;		
}



/* ------------  Menú ----------------  */
nav{
 width: 100%;
 height: 125px;
 position: fixed;
 margin-top: -10px;
 z-index: 100;
 background:linear-gradient(rgba(46, 18, 68, 0.6),transparent ); 
 }


nav div a{
text-decoration:none; 
}

nav: hover{
 background: #FFF;
 
}

/*Posicion Botonera */
.header div{
 float: right;
 padding-top: 40px;
 padding-right: 110px;
}

/*Caracteristicas Botonera */
.header div a{
 width: 92px;
 height: 15px;		
 color: #FFF;
 line-height: 3.4;
 font-weight: 300;
 font-size: 18px;
 padding: 20px;	
}

/* Iso Logo  */
.header img{
 width:67px; 
 height:47px;
 margin-top: -80px;
 margin-left:-1050px;
}

/* botonera hover  */
.header div a:hover{
 color: #FF00BF;
}


/* Log In  */
#login{
 border: 2px solid white;
 border-radius: 20%;
	
}




/* -------------- Contenido Principal -intro -----------------  */

.principal img{
 width: 100%;
 height: auto;
}

/*background principal*/
.cuadro-white{
 width: 562px;
 height: 416px;
 background-color: #FFF;
 margin-top: -650px;
 margin-left:787px;
 position: relative;
  }

/*titulo principal*/
.cuadro-white h1{
 color: #352384;
 padding-top: 60px;
 padding-left: 70px;
 font-size: 40px;
 font-weight: 600;
 line-height: 44px;	
}

/*texto secundario*/
.cuadro-white p{
 color:#728099; 
 margin-top: 6px;
 padding-left: 70px;
 font-size: 14px;
 font-weight: 300;
 line-height: 21px;	
}

/* Formulario interior */
.cuadro-white form input{
 width: 350px;
 height: 80px;	
 font-size: 16px;
 font-weight: 300;
 color: #728099;
 border: none;
 border-bottom: 1px solid  #352384;
 display: block;
 margin-left: 70px;
 margin-top: -23px;
 padding-top: -30px;
}

/* Boton principal */
.cuadro-white button{
 width: 184px;
 height: 50px;
 border: none;
 border-radius: 5%;
 font-size: 16px;
 font-weight: 600;
 color: #FFF;
 margin-top: 20px;
 margin-left: 70px;
 background-color: #FF00BF;	
}

/* Sign Up */
.cuadro-white a{
 margin-left: 20px;
 color:	#728099;
 text-decoration-color:#728099;
}

/* Letra Chica */
.txt p{
 margin-top: 100px;	
font-size: 12px;
color: 	#728099; 
}

/* Letra Chica link */
.txt a{
color: #FF00BF; 	
}

/*   ----------- Degradado entre contenidos -----------------*/
.degraded{
 width: 100%;
 height: 100px;
 background: linear-gradient(transparent,#76278f );
 margin-top: 100px;
 position: relative;
 z-index: 1;	
}

/*   ----------- Contenido Secundario -celular -----------------*/


/*----- background  secundario  ---*/
.secundario{
 width: 100%;
 height: 600px;
 background: linear-gradient(#76278F, #2B1E66);
 margin-top: 0px;
 position: absolute;
}

/*----- Celular imagen ---*/
.secundario img{
 width: 479px;
 height: 555px;
 margin-top: -10px;
 margin-left: 700px;
}



/*----- titulo texto ---*/
.secundario h3{
 color: #FFF;
 font-size: 26px;
 font-weight: 500;
 line-height: 31px;
 text-align: left;	
}

/*parrafo*/
.secundario p {
 color: #FFF;
 font-size: 16px;
 font-weight: 300;
 text-align: left;
 line-height: 24px;		
}

/*texto posición*/
#text-secundario{
 margin-top:-530px;
 margin-left: 150px;
 padding-top: -30px;	
}


/*-----Iframe Videos----*/
iframe{
width: 560px;
height: 315px;
clear: both;	
}
/*----------- Contenido Terciario-video1 -----------------*/

/*contenedor*/
.terciario{
width: 100%;
height: 315px;
background:#FFF;
margin-top: 545px;
color: #333447; 
font-weight: 300;
position: absolute;
}

/*textos terciario*/
.terciario div {
width: 3500px;	
margin-top: 88px;
padding-left: 147px;
display: inline-block;
}

/*video1*/
.terciario iframe{
float: right;
margin-top: -189px;
position: relative;
}



/*----------- Contenido Cuarto-video2  -----------------*/

/*contenedor*/
.cuarto{
 width: 100%;
 height: 315px;
 background:#FFF;
 color: #333447;
 font-weight: 300;
 margin-top: 860px;
 position: absolute;
}

/*video2*/
.cuarto iframe{
 float: left;
 
}


/*textos -cuarto*/
.cuarto div{
 margin-top: 55px;
 margin-left: 100px;
 display: inline-block;	
}

/*----------- Contenido Quinto- video3 ----------------*/

/*background quinto*/
.quinto{
 width: 100%;
 height: 315px;
 background: #FFF;
 color: #333447;
 font-weight: 300;
 margin-top: 1175px;
 position: absolute;	
}


/*video3*/
.quinto iframe{
 float: right;

}

/*textos -quinto*/
.quinto div{
width: 330px;
margin-left: 235px;
padding-top: 85px;
}


/*----------- Footer ----------------*/

/* contenedor footer */
.foot{
width: 100%;
height: 500px;
background: #333447;
color: #FFF;
margin-top: 1490px;
position: relative;
}

/*td tabla posición*/
.foot td{
float: left;
text-align: center;	
}


/* textos h3 footer*/
.foot h3{
 font-size: 16px;
 font-weight: 700;	
}


/* imagenes footer*/
.foot img{
 width: 158px;
 height: 56px;
 float: left;
 text-align: center;
 border-radius: 5%;	
 margin: 3px;
}


/*tabla*/
table{
 padding-top: 120px;
 padding: 98px;
 margin: 6px;
 margin-left: 111px;	
}

/*margenes td*/
table td{
	margin: 10px;
    padding: 42px;
}



/*botones tabla estado hover*/
table td p:hover{
color: #FF00BF;	
}

table td h3:hover{
color: #FF00BF;	
}


/*margenes div imagenes*/
table div{
 margin: 20px;	
}


/*línea*/
hr{
width: 984px;
height: 1px;
background-color: #FFF;	
margin-top: -93px;
margin-left: 188px;
}

.foot p span {
 text-align: center;
 margin-top: 18px;
 margin-left: 568px;
 display: inline-block;	
}




	


